@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', -apple-system, BlinkMacSystemFont, Inter, sans-serif;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  background : transparent;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #818181;
  border-radius: 10px;
  width : 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8F8F8F;
}